  .setup-wifi-container {
    display: flex;
    flex-wrap: nowrap; /* Ensures no wrapping occurs */
    gap: 20px; /* Spacing between cards */
    justify-content: flex-start; /* Aligns items to the start of the flex container */
    width: 100%; /* Sets the width of the flex container to full width */
  }
  
  input, button {
    margin-top: 10px;
    padding: 8px;
    width: 80%;
  }
  